$primary: #4F8AAB;
$secondary: #93C0D9;
$blue-bg: #F5F9FB;
$black: #2B2B2D;
$white: #FFFFFF;

$orange: #F7B62A;
$blue: #57ABF9;
$green: #53E520;
$orange-light: #FFF7E8;
$blue-light: #E9F7FF;
$green-light: #EFF9EA;

$gray: #686B70;
$gray2: #939599;
$gray3: #BABDC2;
$gray4: #CED1D6;
$gray5: #F5F5F5;